<div class='row'>
  <div class='col-sm-8 col-sm-offset-2'>
    <h3>Listing Categories</h3>
    <table class='table table-striped'>
      <thead>
        <tr>
          <th>
            Category Name
            <span class='badge pull-right'>{{ vm.sum_items(vm.categories) }}</span>
          </th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-class="{'info': vm.categoryForm.id == category.id &amp;&amp; vm.formOn }" ng-repeat='category in vm.categories'>
          <td>
            {{ category.name }}
            <span class='badge pull-right'>{{ category.item_ids.length }}</span>
          </td>
          <td>
            <div class='btn-group'>
              <a class='btn btn-info' ng-href='#/category/{{category.id}}/item'>
                Show items
                <span class='glyphicon glyphicon-list-alt'></span>
              </a>
              <a class='btn btn-warning' ng-click='vm.showForm(category)'>
                Edit
                <span class='glyphicon glyphicon-pencil'></span>
              </a>
              <a class='btn btn-danger' ng-click='vm.deleteCategory(category)'>
                Delete
                <span class='glyphicon glyphicon-trash'></span>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <a class='btn btn-success' ng-click='vm.showForm()'>
      <span class='glyphicon glyphicon-plus'></span>
      New category
    </a>
  </div>
</div>
<div ng-include="'templates/flash.html'"></div>
<div class='floating-form well' ng-show='vm.formOn'>
  <form name='form' ng-submit='vm.submit()' novalidate>
    <input class='hide' ng-model='vm.categoryForm.id'>
    <div class='form-group'>
      <label>Category name</label>
      <input class='form-control' ng-model='vm.categoryForm.name' required>
    </div>
    <div class='form-group'>
      <label>Description</label>
      <input class='form-control' ng-model='vm.categoryForm.description'>
    </div>
    <div class='form-actions'>
      <button class='btn btn-primary' ng-disabled='form.$invalid || vm.dataLoading' type='submit'>
        Submit
      </button>
      <a class='btn btn-link' ng-click='vm.formOn = false'>
        Cancel
      </a>
      <i class='fa fa-spinner fa-spin' ng-if='vm.dataLoading'></i>
    </div>
  </form>
</div>
