.row
  .col-sm-8.col-sm-offset-2
    %h3 Listing Categories
     
    %table.table.table-striped
      %thead
        %tr
          %th
            Category Name
            %span.badge.pull-right {{ vm.sum_items(vm.categories) }}
          %th Actions
     
      %tbody
        %tr{"ng-repeat" => "category in vm.categories",
            "ng-class" => "{'info': vm.categoryForm.id == category.id && vm.formOn }"}
          %td
            {{ category.name }}
            %span.badge.pull-right {{ category.item_ids.length }}
          %td
            .btn-group
              %a.btn.btn-info{"ng-href" => "#/category/{{category.id}}/item"}
                Show items
                %span.glyphicon.glyphicon-list-alt
              %a.btn.btn-warning{"ng-click" => "vm.showForm(category)"}
                Edit
                %span.glyphicon.glyphicon-pencil
              %a.btn.btn-danger{"ng-click" => "vm.deleteCategory(category)"}
                Delete
                %span.glyphicon.glyphicon-trash
     
    %a.btn.btn-success{"ng-click" => "vm.showForm()"}
      %span.glyphicon.glyphicon-plus
      New category

%div{"ng-include" => "'templates/flash.html'"}

.floating-form.well{"ng-show" => "vm.formOn"}
  %form{name: "form", "ng-submit" => "vm.submit()", novalidate: true}
    %input.hide{"ng-model" => "vm.categoryForm.id"}
    .form-group
      %label Category name
      %input.form-control{"ng-model" => "vm.categoryForm.name", required: true}
   
    .form-group
      %label Description
      %input.form-control{"ng-model" => "vm.categoryForm.description"}
   
    .form-actions
      %button.btn.btn-primary{type: "submit", "ng-disabled"=> "form.$invalid || vm.dataLoading"}
        Submit
      %a.btn.btn-link{"ng-click" => "vm.formOn = false"}
        Cancel
      %i.fa.fa-spinner.fa-spin{"ng-if" => "vm.dataLoading"}

