<div ng-include="'templates/flash.html'"></div>
<form name='form' ng-submit='vm.submit()' novalidate>
  <div class='form-group'>
    <label>Email address</label>
    <input class='form-control' ng-model='vm.userForm.email' required type='email'>
  </div>
  <div class='form-group'>
    <label>Password (longer than 8 characters)</label>
    <input class='form-control' minlength='8' ng-model='vm.userForm.password' required type='password'>
  </div>
  <div class='form-group'>
    <label>Password Confirmation</label>
    <input class='form-control' ng-model='vm.userForm.password_confirmation' required type='password'>
  </div>
  <div class='form-actions'>
    <button class='btn btn-primary' ng-disabled='form.$invalid || vm.dataLoading || vm.userForm.password != vm.userForm.password_confirmation' type='submit'>
      Submit
    </button>
    <i class='fa fa-spinner fa-spin' ng-if='vm.dataLoading'></i>
  </div>
</form>
