%h3 You're logged in. ({{ vm.displayedName }})

.alert{"ng-if" => "vm.flash.getStatus()", "ng-class" => "'alert-' + vm.flash.getStatus()"}
  {{ vm.flash.getMessage() }}

%a.btn.btn-link{href: "#/category"}            Show categories
%a.btn.btn-link{href: "#/update"}            Edit account
%a.btn.btn-link{"ng-click" => "vm.delete()"} Delete account
%a.btn.btn-link{"ng-click" => "vm.logout()"} Logout
%i.fa.fa-spinner.fa-spin{"ng-if" => "vm.dataLoading"}
