.col-sm-6.col-sm-offset-3
  %h3 You're logged in. ({{ vm.displayedName }})
   
  .flash-message{"ng-include" => "'templates/flash.html'"}
   
  %a.btn.btn-link{href: "#/category"}            Show categories
  %a.btn.btn-link{href: "#/update"}            Edit account
  %a.btn.btn-link{"ng-click" => "vm.delete()"} Delete account
  %a.btn.btn-link{"ng-click" => "vm.logout()"} Logout
  %i.fa.fa-spinner.fa-spin{"ng-if" => "vm.dataLoading"}
