%h3 You're logged in.

.alert{"ng-if" => "vm.flash.getStatus()", "ng-class" => "'alert-' + vm.flash.getStatus()"}
  {{ vm.flash.getMessage() }}


%a.btn.btn-link{"ng-click" => "vm.show()"}   Show account
%a.btn.btn-link{href: "#/update"}            Update account (Not yet)
%a.btn.btn-link{"ng-click" => "vm.delete()"} Delete account
%a.btn.btn-link{"ng-click" => "vm.logout()"} Logout
%i.fa.fa-spinner.fa-spin{"ng-if" => "vm.dataLoading"}
