.row
  .col-sm-8
    %h3 Listing Items
    %table#items-table.table.table-striped
      %thead
        %tr
          %th Word and Meaning
          %th Sentence
          %th Actions
     
      %tbody
        %tr{"ng-repeat" => "item in vm.items"}
          %td.word-meaning
            .h4     {{ item.word }}
            .small {{ item.meaning }}
          %td.sentence {{ item.sentence }}
          %td.actions
            .btn-group
              %a.btn.btn-warning{"ng-click" => "vm.showForm(item)"}
                Edit
                %span.glyphicon.glyphicon-pencil
              %a.btn.btn-danger{"ng-click" => "vm.deleteItem(item)"}
                Delete
                %span.glyphicon.glyphicon-trash

    .btn-group
      %a.btn.btn-success{href: "#/category"}
        %span.glyphicon.glyphicon-arrow-left
        List category
      %a.btn.btn-success{"ng-click" => "vm.showForm()"}
        %span.glyphicon.glyphicon-plus
        New item
   
  .col-sm-4
    .image-popups{"ng-repeat" => "item in vm.items"}
      %img{"ng-src" => "{{ item.picture }}"}

%div{"ng-include" => "'templates/flash.html'"}

.floating-form.well{"ng-show" => "vm.formOn"}
  %form{name: "form", "ng-submit" => "vm.submit()", novalidate: true}
    %input.hide{"ng-model" => "vm.itemForm.id"}
    %input.hide{"ng-model" => "vm.itemForm.category.id"}
    .form-group
      %label Word
      %input.form-control{"ng-model" => "vm.itemForm.word", required: true}
   
    .form-group
      %label Sentence
      %input.form-control{"ng-model" => "vm.itemForm.sentence"}

    .form-group
      %label Meaning
      %input.form-control{"ng-model" => "vm.itemForm.meaning"}

    .form-group
      %label Picture
      %input#choose-file{type: "file", "my-file-upload" => "vm.itemForm.picture",
                         required: true}
   
    .form-actions
      %button.btn.btn-primary{type: "submit", "ng-disabled"=> "form.$invalid || vm.dataLoading"}
        Submit
      %a.btn.btn-link{"ng-click" => "vm.formOn = false"}
        Cancel
      %i.fa.fa-spinner.fa-spin{"ng-if" => "vm.dataLoading"}
