%h3 Listing Items

{{ vm.test }}

-# %table.table.table-striped
-#   %thead
-#     %tr
-#       %th
-#         Category Name
-#         %span.badge.pull-right ?
-#       %th Actions

-#   %tbody
-#     %tr{"ng-repeat" => "category in vm.categories"}
-#       %td
-#         {{ category.name }}
-#         %span.badge.pull-right ?
-#       %td
-#         .btn-group
-#           %a.btn.btn-info{href: ""}
-#             Show items
-#             %span.glyphicon.glyphicon-list-alt
-#           %a.btn.btn-warning{href: ""}
-#             Edit
-#             %span.glyphicon.glyphicon-pencil
-#           %a.btn.btn-danger{href: ""}
-#             Delete
-#             %span.glyphicon.glyphicon-trash

-# .btn-group
-#   %a.btn.btn-success{href: ""}
-#     %span.glyphicon.glyphicon-plus
-#     New category
-#   %a.btn.btn-success{href: ""}
-#     %span.glyphicon.glyphicon-plus
-#     New item
