<div class='row'>
  <div class='col-sm-8'>
    <h3>Listing Items</h3>
    <table class='table table-striped' id='items-table'>
      <thead>
        <tr>
          <th>Word and Meaning</th>
          <th>Sentence</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='item in vm.items'>
          <td class='word-meaning'>
            <div class='h4'>{{ item.word }}</div>
            <div class='small'>{{ item.meaning }}</div>
          </td>
          <td class='sentence'>{{ item.sentence }}</td>
          <td class='actions'>
            <div class='btn-group'>
              <a class='btn btn-warning' ng-click='vm.showForm(item)'>
                Edit
                <span class='glyphicon glyphicon-pencil'></span>
              </a>
              <a class='btn btn-danger' ng-click='vm.deleteItem(item)'>
                Delete
                <span class='glyphicon glyphicon-trash'></span>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <a class='btn btn-success' ng-click='vm.showForm()'>
      <span class='glyphicon glyphicon-plus'></span>
      New item
    </a>
  </div>
  <div class='col-sm-4'>
    <div class='image-popups' ng-repeat='item in vm.items'>
      <img ng-src='{{ item.picture }}'>
    </div>
  </div>
</div>
<div ng-include="'templates/flash.html'"></div>
<div class='floating-form well' ng-show='vm.formOn'>
  <form name='form' ng-submit='vm.submit()' novalidate>
    <input class='hide' ng-model='vm.itemForm.id'>
    <input class='hide' ng-model='vm.itemForm.category.id'>
    <div class='form-group'>
      <label>Word</label>
      <input class='form-control' ng-model='vm.itemForm.word' required>
    </div>
    <div class='form-group'>
      <label>Sentence</label>
      <input class='form-control' ng-model='vm.itemForm.sentence'>
    </div>
    <div class='form-group'>
      <label>Meaning</label>
      <input class='form-control' ng-model='vm.itemForm.meaning'>
    </div>
    <div class='form-group'>
      <label>Picture</label>
      <input id='choose-file' my-file-upload='vm.itemForm.picture' required type='file'>
    </div>
    <div class='form-actions'>
      <button class='btn btn-primary' ng-disabled='form.$invalid || vm.dataLoading' type='submit'>
        Submit
      </button>
      <a class='btn btn-link' ng-click='vm.formOn = false'>
        Cancel
      </a>
      <i class='fa fa-spinner fa-spin' ng-if='vm.dataLoading'></i>
    </div>
  </form>
</div>
