.row
  .col-sm-9
    
    #items-setting
      .row
        .col-sm-4
          %h3 Listing Items
        .col-sm-8
          #buttons.pull-right
            .btn-group
              %a.btn.btn-success{href: "#/category"}
                %span.glyphicon.glyphicon-arrow-left
                List categories
              %a.btn.btn-success{"ng-click" => "vm.showForm()"}
                %span.glyphicon.glyphicon-plus
                New item

    #items-list
      %table.table.table-striped
        %thead
          %tr
            %th Word and Meaning
            %th Sentence
            %th Actions
       
        %tbody
          %tr{"ng-repeat" => "item in vm.items",
              "ng-class" => "{'info':     vm.itemForm.id == item.id && vm.formOn,
                              'onCursor': vm.itemOnCursor == item.id && !vm.formOn}",
              "ng-mouseover" => "vm.scrollPictures(item)"}
            %td.word-meaning
              .h4        {{ item.word }}
              .small     {{ item.meaning }}
            %td.sentence {{ item.sentence }}
            %td.actions
              .btn-group
                %a.btn.btn-warning{"ng-click" => "vm.showForm(item)"}
                  Edit
                  %span.glyphicon.glyphicon-pencil
                %a.btn.btn-danger{"ng-click" => "vm.deleteItem(item)"}
                  Delete
                  %span.glyphicon.glyphicon-trash

  .col-sm-3

    #image-popups
      %a.magnific-popup-img{"ng-repeat" => "item in vm.items", "ng-href" => "{{ item.picture }}"}
        %img.img-thumbnail{"ng-src" => "{{ item.picture }}",
                           "ng-class" => "{'bg-primary': vm.itemForm.id  == item.id && vm.formOn,
                                           'onCursor'  : vm.itemOnCursor == item.id && !vm.formOn}",
                           "ng-mouseover" => "vm.scrollItems(item)"}
        .fake{"ng-init" => "vm.initMagnificPopup()"}



%div{"ng-include" => "'templates/flash.html'"}


.floating-form.well{"ng-show" => "vm.formOn"}
  %form{name: "form", "ng-submit" => "vm.submit()", novalidate: true}
    %input.hide{"ng-model" => "vm.itemForm.id"}
    %input.hide{"ng-model" => "vm.itemForm.category.id"}
    .form-group
      %label Word
      %input.form-control{"ng-model" => "vm.itemForm.word", required: true}
   
    .form-group
      %label Sentence
      %input.form-control{"ng-model" => "vm.itemForm.sentence"}

    .form-group
      %label Meaning
      %input.form-control{"ng-model" => "vm.itemForm.meaning"}

    .form-group
      %label Picture
      %input#choose-file{type: "file", "my-file-upload" => "vm.itemForm.picture",
                         required: true}
   
    .form-actions
      %button.btn.btn-primary{type: "submit", "ng-disabled"=> "form.$invalid || vm.dataLoading"}
        Submit
      %a.btn.btn-link{"ng-click" => "vm.formOn = false"}
        Cancel
      %i.fa.fa-spinner.fa-spin{"ng-if" => "vm.dataLoading"}
