<div class='col-sm-6 col-sm-offset-3'>
  <h3>Login</h3>
  <div ng-include="'templates/flash.html'"></div>
  <form name='form' ng-submit='vm.login()' novalidate>
    <div class='form-group'>
      <label>Email address</label>
      <input class='form-control' ng-model='vm.user.email' required type='email'>
    </div>
    <div class='form-group'>
      <label>Password</label>
      <input class='form-control' minlength='8' ng-model='vm.user.password' required type='password'>
    </div>
    <div class='form-actions'>
      <button class='btn btn-primary' ng-disabled='form.$invalid || vm.dataLoading' type='submit'>
        Login
      </button>
      <a class='btn btn-link' href='#/register'>Register</a>
      <i class='fa fa-spinner fa-spin' ng-if='vm.dataLoading'></i>
    </div>
  </form>
</div>
