%h1 Editing Category

= render 'form'

%br
.btn-group.btn-group-md
  = link_to categories_path, class: 'btn btn-success' do
    %span.glyphicon.glyphicon-arrow-left
    Back to Categories
  = link_to category_path(@category), class: 'btn btn-info' do
    %span.glyphicon.glyphicon-folder-open
    Show
