%h1 Editing Category

= render 'form'

%br
.btn-group.btn-group-md
  %a.btn.btn-success{href: categories_path}
    %span.glyphicon.glyphicon-arrow-left
    Back to Categories
  %a.btn.btn-info{href: category_path(@category)}
    %span.glyphicon.glyphicon-list-alt
    Show
