#ext-content {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 50px;
  right: 20px;
  width: 250px;
  opacity: 0.8;
  /* the header in youtube has z-index: 1999999999 */
  z-index: 2000000000; }
  #ext-content #ext-settings #upload > input {
    margin-bottom: 0; }
  #ext-content #ext-settings .input-group > input {
    margin-top: 0; }
  #ext-content #ext-dictionaries .ext-dictionary.panel {
    margin-top: 5px;
    max-height: 230px;
    background-color: black;
    overflow-y: scroll;
    font-size: 14px;
    color: #ff7f3d; }
    #ext-content #ext-dictionaries .ext-dictionary.panel .from {
      height: 20px; }
      #ext-content #ext-dictionaries .ext-dictionary.panel .from .remove {
        position: absolute;
        right: 0px; }
    #ext-content #ext-dictionaries .ext-dictionary.panel ul {
      list-style-type: none;
      list-style-position: inside;
      margin: 5px;
      padding-left: 0px; }
      #ext-content #ext-dictionaries .ext-dictionary.panel ul li {
        padding-left: 2px;
        border-bottom: 1px dotted white; }
        #ext-content #ext-dictionaries .ext-dictionary.panel ul li a {
          color: #ff7f3d;
          text-decoration: none; }
          #ext-content #ext-dictionaries .ext-dictionary.panel ul li a:hover {
            text-decoration: underline; }

.popover {
  width: 250px; }
  .popover .popover-content {
    padding: 2px;
    max-height: 100px;
    overflow-y: scroll;
    font-size: 12px; }
