%link{rel: "stylesheet", href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"}

.my-bootstrap-container
  #ext-content


%script#ext-content-t{type: "text/template"}
  #ext-settings
    %form#upload
      %input.input-sm.form-control#ext-word{placeholder: "Word", required: true}
      %input.input-sm.form-control#ext-sentence{placeholder: "Sentence"}
      %input.input-sm.form-control#ext-meaning{placeholder: "Meaning"}
      %input.input-sm.form-control{type: "submit", value: "Upload"}

  #ext-dictionaries


-# DictionaryView
%script#ext-dictionary-t{type: "text/template"}
  .ext-dictionary.panel
    .from
      <%= data.dictionary %>: <%= data.type %>
      <% if(data.loading){ %>
      %i.fa.fa-spinner.fa-spin
      <% } %>
      .remove.btn.btn-default.btn-sm.pull-right
        %i.fa.fa-remove

    -# show matched entries
    <% if(data.type === "entries") { %>
    %ul
      <% _.each(data.entries, function(entry){ %>
      %li 
        %a{data: {toggle: "popover", html: "true", placement: "left"}}
          <%= entry.word %>
   
        -# popover effect is attached in dictionaryView in a somewhat wierd way
        %ul
          <% _.each(entry.meanings, function(meaning){ %>
          %li 
            %a.meaning <%= meaning %>
          <% }) %>
      <% }) %>
   
   
    -# show suggestions
    <% } else if(data.type === "suggestions") { %>
    %ul
      <% _.each(data.suggestions, function(suggestion){ %>
      %li 
        %a.suggestion <%= suggestion %>
      <% }) %>
    <% } %>
