-# %link{rel: "stylesheet", href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"}
#ext-content.my-bootstrap-container
  #ext-settings
    %input.form-control#ext-word{placeholder: "Word"}
    %input.form-control#ext-sentence{placeholder: "Sentence"}
    %input.form-control#ext-meaning{placeholder: "Meaning"}

  #ext-dictionaries


%script#ext-dictionary-t{type: "text/template"}
  %p.from <%= data.dictionary %> (<%= data.type %>)

  <% if(data.type === "entries") { %>
  %ul
    <% _.each(data.entries, function(entry){ %>
    %li 
      %a{data: {toggle: "popover", html: "true", placement: "left"}}
        <%= entry.word %>

      -# popover effect is attached in dictionaryView in a somewhat wierd way
      %ul
        <% _.each(entry.meanings, function(meaning){ %>
        %li 
          %a.meaning <%= meaning %>
        <% }) %>
    <% }) %>


  <% } else if(data.type === "suggestions") { %>
  %ul
    <% _.each(data.suggestions, function(suggestion){ %>
    %li 
      %a.suggestion <%= suggestion %>
    <% }) %>
  <% } %>
