%link{rel: "stylesheet", href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"}

#ext-content.my-bootstrap-container
  #ext-settings
    %input.input-sm.form-control#ext-word{placeholder: "Word"}
    %input.input-sm.form-control#ext-sentence{placeholder: "Sentence"}
    %input.input-sm.form-control#ext-meaning{placeholder: "Meaning"}

    -# template: #ext-categories-t
    -# .input-group.input-group-sm


  #ext-dictionaries
    -# template: #ext-dictionary-t
    -# .ext-dictionary.panel



-# template for choosing a category
%script#ext-categories-t{type: "text/template"}
  %a.btn.btn-default.form-control.dropdown-toggle{'data-toggle' => 'dropdown'}
    .fake-div
      .dropdown-title.pull-left -- Choose Category --
    .caret.pull-right{style: "margin-top: 8px;"}
  %ul.dropdown-menu{role: 'menu'}
    <% _.each(categories, function(category){ %>
    %li
      %a{"data-id" => "<%= category.id %>"} <%= category.name %>
    <% }) %>
  %a.upload.btn.btn-default.input-group-addon
    %span.fa.fa-upload


-# template for a dictionary view
%script#ext-dictionary-t{type: "text/template"}
  .from
    <%= data.dictionary %> (<%= data.type %>)
    .remove.btn.btn-default.btn-sm.pull-right
      %i.fa.fa-remove
  
  <% if(data.type === "entries") { %>
  %ul
    <% _.each(data.entries, function(entry){ %>
    %li 
      %a{data: {toggle: "popover", html: "true", placement: "left"}}
        <%= entry.word %>

      -# popover effect is attached in dictionaryView in a somewhat wierd way
      %ul
        <% _.each(entry.meanings, function(meaning){ %>
        %li 
          %a.meaning <%= meaning %>
        <% }) %>
    <% }) %>


  <% } else if(data.type === "suggestions") { %>
  %ul
    <% _.each(data.suggestions, function(suggestion){ %>
    %li 
      %a.suggestion <%= suggestion %>
    <% }) %>
  <% } %>
