.my-bootstrap-container
  #ext-content


%script#ext-content-t{type: "text/template"}
  #ext-settings
    %form#upload
      %input.input-sm.form-control#ext-word{placeholder: "Word", required: true}
      %input.input-sm.form-control#ext-sentence{placeholder: "Sentence"}
      %input.input-sm.form-control#ext-meaning{placeholder: "Meaning"}
      .input-group
        %input.btn.btn-sm.btn-default.form-control{type: "submit", value: "Upload"}
        .input-group-addon#upload-icons
          .glyphicon.glyphicon-glass#wait{                    "data-toggle" => "tooltip", "data-placement"=>"left", title: "Waiting for upload"}
          .glyphicon.glyphicon-thumbs-up#success{             "data-toggle" => "tooltip", "data-placement"=>"left", title: "Upload finished :)"}
          .glyphicon.glyphicon-refresh.glyphicon-spin#loading{"data-toggle" => "tooltip", "data-placement"=>"left", title: "Uploading..."}
          .glyphicon.glyphicon-thumbs-down#fail{              "data-toggle" => "tooltip", "data-placement"=>"left", title: "Upload failed :("}

  #ext-dictionaries


-# DictionaryView
%script#ext-dictionary-t{type: "text/template"}
  .ext-dictionary.panel
    .from
      <%= data.dictionary %>: <%= data.type %>
      <% if(data.loading){ %>
      .glyphicon.glyphicon-refresh.glyphicon-spin
      <% } %>
      .remove.btn.btn-default.btn-sm.pull-right
        .glyphicon.glyphicon-remove

    -# show matched entries
    <% if(data.type === "entries") { %>
    %ul
      <% _.each(data.entries, function(entry){ %>
      %li 
        %a{data: {toggle: "popover", html: "true", placement: "left"}}
          <%= entry.word %>
   
        -# popover effect is attached in dictionaryView in a somewhat wierd way
        %ul
          <% _.each(entry.meanings, function(meaning){ %>
          %li 
            %a.meaning <%= meaning %>
          <% }) %>
      <% }) %>
   
   
    -# show suggestions
    <% } else if(data.type === "suggestions") { %>
    %ul
      <% _.each(data.suggestions, function(suggestion){ %>
      %li 
        %a.suggestion <%= suggestion %>
      <% }) %>
    <% } %>
