<div class='my-bootstrap-container' id='ext-content'>
  <div id='ext-settings'>
    <input class='form-control' id='ext-word' placeholder='Word'>
    <input class='form-control' id='ext-sentence' placeholder='Sentence'>
    <input class='form-control' id='ext-meaning' placeholder='Meaning'>
  </div>
  <div id='ext-dictionaries'></div>
</div>
<script id='ext-dictionary-t' type='text/template'>
  <p class='from'><%= data.dictionary %> (<%= data.type %>)</p>
  <% if(data.type === "entries") { %>
  <ul>
    <% _.each(data.entries, function(entry){ %>
    <li>
      <a data-html='true' data-placement='left' data-toggle='popover'>
        <%= entry.word %>
      </a>
      <ul>
        <% _.each(entry.meanings, function(meaning){ %>
        <li>
          <a class='meaning'><%= meaning %></a>
        </li>
        <% }) %>
      </ul>
    </li>
    <% }) %>
  </ul>
  <% } else if(data.type === "suggestions") { %>
  <ul>
    <% _.each(data.suggestions, function(suggestion){ %>
    <li>
      <a class='suggestion'><%= suggestion %></a>
    </li>
    <% }) %>
  </ul>
  <% } %>
</script>
