<link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css' rel='stylesheet'>
<div class='my-bootstrap-container' id='ext-content'>
  <div id='ext-settings'>
    <input class='input-sm form-control' id='ext-word' placeholder='Word'>
    <input class='input-sm form-control' id='ext-sentence' placeholder='Sentence'>
    <input class='input-sm form-control' id='ext-meaning' placeholder='Meaning'>
  </div>
  <div id='ext-dictionaries'>
  </div>
</div>
<script id='ext-categories-t' type='text/template'>
  <div class='input-group input-group-sm'>
    <a class='btn btn-default form-control dropdown-toggle' data-toggle='dropdown'>
      <div class='fake-div'>
        <div class='dropdown-title pull-left'>-- Choose Category --</div>
      </div>
      <div class='caret pull-right' style='margin-top: 8px;'></div>
    </a>
    <ul class='dropdown-menu' role='menu'>
      <% _.each(categories, function(category){ %>
      <li>
        <a data-id='<%= category.id %>'><%= category.name %></a>
      </li>
      <% }) %>
    </ul>
    <a class='btn btn-default input-group-addon' data-container='#ext-categories' data-html='true' data-placement='bottom' data-toggle='popover' id='new-category'>
      <span class='fa fa-plus'></span>
    </a>
    <a class='btn btn-default input-group-addon disabled' id='upload'>
      <span class='fa fa-upload'></span>
    </a>
  </div>
  <div id='new-category-popover-content'>
    <label>Make New Category (Hit Enter to Finish)</label>
    <input class='form-control input-sm' id='new-category-name' placeholder='Category Name'>
  </div>
</script>
<script id='ext-dictionary-t' type='text/template'>
  <div class='ext-dictionary panel'>
    <div class='from'>
      <%= data.dictionary %> (<%= data.type %>)
      <div class='remove btn btn-default btn-sm pull-right'>
        <i class='fa fa-remove'></i>
      </div>
    </div>
    <% if(data.type === "entries") { %>
    <ul>
      <% _.each(data.entries, function(entry){ %>
      <li>
        <a data-html='true' data-placement='left' data-toggle='popover'>
          <%= entry.word %>
        </a>
        <ul>
          <% _.each(entry.meanings, function(meaning){ %>
          <li>
            <a class='meaning'><%= meaning %></a>
          </li>
          <% }) %>
        </ul>
      </li>
      <% }) %>
    </ul>
    <% } else if(data.type === "suggestions") { %>
    <ul>
      <% _.each(data.suggestions, function(suggestion){ %>
      <li>
        <a class='suggestion'><%= suggestion %></a>
      </li>
      <% }) %>
    </ul>
    <% } %>
  </div>
</script>
