// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table, th, td {
   border: 1px solid black;
}

td.word {
    text-align: center;
    width: 10%;
}

td.sentence {
    width: 80%;
}

td.misc {
    text-align: center;
    width: 10%;
}

.word img{
 position: fixed;
 top: 15%;
 left: 15%;
 height: 80vh;
 z-index: 10;

}