.flash-message.alert{"ng-show" => "vm.flash.getStatus()",
                     "ng-class" => "'alert-' + vm.flash.getStatus()"}
  {{ vm.flash.getMessage() }}
  %a.btn.btn-default.pull-right{"ng-click" => "vm.flash.apply()", style: "margin-top: -5px;"}
    %i.fa.fa-remove
