#ext_div0, #ext_div1, #ext_div2 {
  position: fixed;
  opacity: 0.8;
  z-index: 1000; }

#ext_div0 {
  top: 10%;
  left: 90%;
  height: 2.5%;
  width: 8%; }
  #ext_div0 #word, #ext_div0 #sentence, #ext_div0 #meaning {
    margin: 0px;
    border: 0px;
    padding: 0px;
    height: 100%;
    width: 100%; }

#ext_div1 {
  top: 66%;
  left: 79%; }

#ext_div2 {
  top: 33%;
  left: 79%; }

#ext_div1, #ext_div2 {
  height: 33%;
  width: 20%;
  background-color: black;
  overflow-y: scroll;
  font-size: 14px; }
  #ext_div1 ul, #ext_div2 ul {
    list-style-type: none;
    list-style-position: inside;
    margin: 5px;
    padding-left: 0px; }
    #ext_div1 ul li, #ext_div2 ul li {
      padding-left: 2px;
      border-bottom: 1px dotted white; }
      #ext_div1 ul li a, #ext_div2 ul li a {
        color: #ff7f3d;
        text-decoration: none; }
        #ext_div1 ul li a:hover, #ext_div2 ul li a:hover {
          text-decoration: underline; }

/* popover-content automatically cut out the empty doms like */
/* %div                  .popover-content */
/*   %p             =>     %span hoge */
/*     %span hoge */
.popover .popover-content {
  max-height: 100px;
  overflow-y: scroll; }
  .popover .popover-content .popover-content-a {
    font-size: 12px; }
