%link{:href => "popup.css", :rel => "stylesheet"}
%script{:src => "libs/jquery-2.1.4.min.js"}
%script{:src => "libs/jquery.watermarkinput.js"}
%script{:src => "popup.js"}

.popup
  %button#search search
  %button#shoot shoot and upload
  %br
  %input#word
  %br
  %textarea#sentence{:rows => "2", :cols => "30"}  
