%h3 Testing the user authentication via google account 

- if current_user
  Signed in as
  %strong= current_user.name
  !
  = link_to 'Sign out', signout_path
- else
  = link_to 'Sign in with Google', '/auth/google_oauth2'
