.flash-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  top: 10%;
  width: 50%;
  z-index: 10; }

.floating-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  top: 40%;
  width: 50%;
  z-index: 10; }

/* item view */
#items-setting {
  height: 10vh; }
  #items-setting h3 {
    display: inline; }
  #items-setting #buttons {
    display: inline; }

#items-list {
  position: absolute;
  height: 90vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }
  #items-list table > tbody > tr .word-meaning {
    width: 25%; }
    #items-list table > tbody > tr .word-meaning .h4 {
      margin: 5px; }
  #items-list table > tbody > tr .actions {
    width: 18%; }

#image-popups {
  position: absolute;
  top: 0vh;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }
  #image-popups a > img {
    width: 100%; }
    #image-popups a > img.onCursor {
      background-color: #ee6464; }

.flash-message {
  -moz-transition: linear 0.2s all;
  -o-transition: linear 0.2s all;
  -webkit-transition: linear 0.2s all;
  transition: linear 0.2s all;
  /* disappearing start */
  /* disappearing end */
  /* appearing start */
  /* appearing end */ }
  .flash-message.ng-hide-add {
    opacity: 1; }
  .flash-message.ng-hide-add-active {
    opacity: 0.5; }
  .flash-message.ng-hide-remove {
    top: -10%; }
  .flash-message.ng-hide-remove-active {
    top: 10%; }

.floating-form {
  -moz-transition: linear 0.2s all;
  -o-transition: linear 0.2s all;
  -webkit-transition: linear 0.2s all;
  transition: linear 0.2s all;
  /* disappearing start */
  /* disappearing end */
  /* appearing start */
  /* appearing end */ }
  .floating-form.ng-hide-add {
    opacity: 1; }
  .floating-form.ng-hide-add-active {
    opacity: 0.5; }
  .floating-form.ng-hide-remove {
    top: -10%; }
  .floating-form.ng-hide-remove-active {
    top: 40%; }

#items-list > table > tbody > tr {
  -moz-transition: linear 0.3s all;
  -o-transition: linear 0.3s all;
  -webkit-transition: linear 0.3s all;
  transition: linear 0.3s all; }
  #items-list > table > tbody > tr.onCursor {
    background-color: #eecbcb; }
  #items-list > table > tbody > tr.onCursor-add {
    background-color: auto; }
  #items-list > table > tbody > tr.onCursor-add-active {
    background-color: #eecbcb; }
