#ext_div0, #ext_div1, #ext_div2 {
  position: fixed;
  opacity: 0.8;
  z-index: 1000; }

#ext_div0 {
  top: 10%;
  left: 90%;
  height: 2.5%;
  width: 8%; }
  #ext_div0 #word, #ext_div0 #sentence {
    margin: 0px;
    border: 0px;
    padding: 0px;
    height: 100%;
    width: 100%; }

#ext_div1 {
  top: 66%;
  left: 79%; }

#ext_div2 {
  top: 33%;
  left: 79%; }

#ext_div1, #ext_div2 {
  height: 33%;
  width: 20%;
  background-color: black;
  overflow: scroll;
  font-size: 14px;
  color: #ff7f3d; }
  #ext_div1 ul, #ext_div2 ul {
    list-style-type: none;
    list-style-position: inside;
    margin: 5px;
    padding-left: 0px; }
    #ext_div1 ul li, #ext_div2 ul li {
      padding-left: 2px;
      border-bottom: 1px dotted white;
      color: #ff7f3d; }

/* .popover-content */
/*         ul */
/*           li */
/*             a */
/*               font-size: 10px */
