<!DOCTYPE html>
<html>
  <head>
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css' rel='stylesheet'>
    <link href='/lib/my_bootstrap_container.css' rel='stylesheet' type='text/css'>
    <link href='popup.css' rel='stylesheet' type='text/css'>
    <script src='/lib/jquery.js'></script>
    <script src='/lib/bootstrap.js'></script>
    <script src='/lib/underscore.js'></script>
    <script src='/lib/backbone.js'></script>
    <script src='/contentScript/backbone/mylib.js'></script>
    <script src='/contentScript/backbone/storage.js'></script>
    <script src='popup.js'></script>
  </head>
  <body>
    <div class='my-bootstrap-container'>
      <div id='main'></div>
      <div class='alert alert-info small' id='flash'></div>
    </div>
  </body>
</html>
<script id='loginView-t' type='text/template'>
  <form id='loginForm'>
    <input class='form-control' name='session[email]' placeholder='Email'>
    <input class='form-control' name='session[password]' placeholder='Password' type='password'>
    <input class='form-control' type='submit' value='Login'>
  </form>
  <a class='btn btn-link btn-block' id='register'>Register</a>
</script>
<script id='authedView-t' type='text/template'>
  <div id='authed'>
    <p>Hello, <%= user.username %></p>
    <div class='btn-group btn-group-justified'>
      <a class='btn btn-default' id='on'>On</a>
      <a class='btn btn-default' id='off'>Off</a>
      <a class='btn btn-default' id='logout'>Logout</a>
    </div>
    <div id='categoriesDropdown'></div>
  </div>
</script>
<script id='categoriesDropdown-t' type='text/template'>
  <div class='input-group input-group-sm'>
    <a class='btn btn-default form-control dropdown-toggle' data-toggle='dropdown'>
      <div id='destination-name'><%= title %></div>
      <div class='caret pull-right'></div>
    </a>
    <ul class='dropdown-menu' role='menu'>
    </ul>
    <a class='btn btn-default input-group-addon' data-container='#categoriesDropdown' data-html='true' data-placement='left' data-toggle='popover' id='new-category'>
      <span class='fa fa-plus'></span>
    </a>
  </div>
</script>
<script id='new-category-popover-content-t' type='text/template'>
  <label>Make New Category (Hit Enter to Finish)</label>
  <input class='form-control input-sm' id='new-category-name' placeholder='Category Name'>
</script>
