a.btn.btn-default.btn-sm(ng-click="vm.newCategory()") New category
table.table.table-striped
  thead
    tr
      th
        Category Name
        span.badge.pull-right {{ vm.sumOfNumbersOfItemsIn(vm.categories) }}
      th Actions
  
  tbody
    tr(ng-repeat="category in vm.categories")
      td
        span {{ category.name }}
        span.badge.pull-right {{ category.item_ids.length }}
      td
        .btn-group
          a.btn.btn-info(ui-sref="items({categoryId: {{category.id}}})")
            span Show items
            span.glyphicon.glyphicon-list-alt
          a.btn.btn-warning(ng-click="vm.editCategory(category)")
            span Edit
            span.glyphicon.glyphicon-pencil
          a.btn.btn-danger(ng-click="vm.deleteCategory(category)")
            span Delete
            span.glyphicon.glyphicon-trash

div(ng-cloak=true, ng-show="vm.showForm", category-form=true, form="vm.categoryForm"
    on-submit="vm.submit()", on-cancel="vm.showForm=false", loading="vm.loading")
