- var states = ["root.register", "root.login", "categories", "categories.new({categoryId: 1})", "categories.edit({categoryId: 1})", "items({categoryId: 1})", "items.new({categoryId: 1, itemId: 1})", "items.edit({categoryId: 1, itemId: 1})"]

.container-fluid
  .btn-group.btn-group-sm
    each state in states
      a.btn.btn-default(ui-sref="#{state}")= state

  p views
  div(flash-message-d=true)
  div(ui-view="mainView")
