// - var states = ["root.register", "root.login", "auth.categories", "auth.categories.new({categoryId: 1})", "auth.categories.edit({categoryId: 2})", "auth.items({categoryId: 3})", "auth.items.new({categoryId: 4, itemId: 5})", "auth.items.edit({categoryId: 6, itemId: 7})"]

.container-fluid
  // p states
  // ul
  //   each state in states
  //     li
  //       a(ui-sref="#{state}")= state

  p views
  ul
    li flash message should appear here.
    li
      div(ui-view="mainView")
