!!! 5
%html{"ng-app"=>"mainApp"}
  %head
    %meta{charset: "utf-8"} 
    %title Word Collector
    // style
    %link{href: 'bower_components/bootstrap/dist/css/bootstrap.css', rel: 'stylesheet', type: 'text/css'}
    -# %link{href: 'css/main.css', rel: 'stylesheet', type: 'text/css'}
   
  %body

    Hello World.
   
    // jquery, bootstrap
    %script{src: 'bower_components/jquery/dist/jquery.js'}
    %script{src: 'bower_components/bootstrap/dist/js/bootstrap.js'}
   
    // underscore
    %script{src: 'bower_components/underscore/underscore.js'}
   
    // angular
    %script{src: 'bower_components/angular/angular.js'}
    %script{src: 'bower_components/angular-route/angular-route.js'}
    %script{src: 'bower_components/angular-storage/dist/angular-storage.js'}
   
    // mainApp
    %script{src: 'js/app.js'}
