!!! 5
%html{"ng-app"=>"app"}
  %head
    %meta{charset: "utf-8"} 
    %title Word Collector
    // style
    %link{href: 'bower_components/bootstrap/dist/css/bootstrap.css', rel: 'stylesheet', type: 'text/css'}
    %link{rel: "stylesheet", href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"}
    %link{href: 'css/main.css', rel: 'stylesheet', type: 'text/css'}
   
  %body
    
    .container-fluid
      %div{"ng-view" => true}
   
    // jquery, bootstrap
    %script{src: 'bower_components/jquery/dist/jquery.js'}
    %script{src: 'bower_components/bootstrap/dist/js/bootstrap.js'}
   
    // underscore
    %script{src: 'bower_components/underscore/underscore.js'}
   
    // angular
    %script{src: 'bower_components/angular/angular.js'}
    %script{src: 'bower_components/angular-route/angular-route.js'}
    %script{src: 'bower_components/angular-storage/dist/angular-storage.js'}
    %script{src: 'bower_components/angular-cookies/angular-cookies.js'}
    %script{src: 'bower_components/angular-resource/angular-resource.js'}
    %script{src: 'bower_components/angular-mocks/angular-mocks.js'}
   
    // mainApp
    %script{src: 'js/app.js'}
    %script{src: 'js/appRoute.js'}
    %script{src: 'js/appRun.js'}

    %script{src: 'js/controllers/homeController.js'}
    %script{src: 'js/controllers/loginController.js'}
    %script{src: 'js/controllers/registerController.js'}
    %script{src: 'js/controllers/updateController.js'}
    %script{src: 'js/controllers/categoryController.js'}
    %script{src: 'js/controllers/itemController.js'}

    %script{src: 'js/services/userService.js'}
    %script{src: 'js/services/authService.js'}
    %script{src: 'js/services/flashService.js'}
    %script{src: 'js/services/categoryService.js'}
    %script{src: 'js/services/itemService.js'}

    %script{src: 'js/directives/myFileUpload.js'}

    // mock backend
    %script{src: 'js/mockBackend.js'}
