form(name="form", ng-submit="submit()", novalidate=true)
  .form-group
    label Name
    input.form-control(ng-model="categoryForm.name", required=true)

  .form-group
    label Description
    input.form-control(ng-model="categoryForm.description")
   
  .form-actions
    button.btn.btn-primary(type="submit", ng-disabled="form.$invalid || loading") {{labelSubmit}}
    a.btn.btn-link(ng-click="cancel()") {{labelCancel}}
    i.fa.fa-spinner.fa-spin(ng-if="loading")
