form(name="form", ng-submit="submit()", novalidate=true)
  .form-group
    label Email address
    input.form-control(ng-model="sessionForm.email", type="email", required=true)

  .form-group
    label Password
    input.form-control(ng-model="sessionForm.password", type="password"
                       required=true, minlength="8")

  .form-actions
    button.btn.btn-primary(type="submit", ng-disabled="form.$invalid || loading") Submit 
    a.btn.btn-link(ng-click="cancel()") Cancel
    i.fa.fa-spinner.fa-spin(ng-if="loading")
