p user: 
  em {{ user.email }}

.btn-group.btn-group-sm
  a.btn.btn-default(ng-click="edit()") Edit account
  a.btn.btn-default(ng-click="delete()") Delete account
  a.btn.btn-default(ng-click="logout()") Logout
