span user: 
  strong
    em {{ user.username }} 

.btn-group
  a.btn.btn-default(ng-click="logout()") Logout
  a.btn.btn-default(ng-click="edit()", ng-class="{'btn-warning': editing}") Edit account
  a.btn.btn-default(ng-click="delete()") Delete account
  i.fa.fa-spinner.fa-spin(ng-if="loading")


.user-update-div.panel.panel-primary(ng-cloak=true, ng-show="editing")
  .panel-heading Edit account
  .panel-body(
    user-form=true, form="userForm"
    label-submit="'Update'"   , label-cancel="'Cancel'"
    on-submit="editGo()", on-cancel="editing=false", loading="editLoading")
