%h1 Editing post
= render 'form'

%br
.btn-group
  = link_to category_path(@category), class: 'btn btn-success' do
    %span.glyphicon.glyphicon-arrow-left
    Back to Its Category
  = link_to post_path(@post), class: 'btn btn-info' do
    %span.glyphicon.glyphicon-folder-open
    Show
    
