
%table.table
  %tbody
    %tr
      %td
        %strong Word:
      %td
        = @post.word
    %tr
      %td
        %strong Sentence:
      %td
        = @post.sentence
    %tr
      %td
        %strong Category:
      %td
        = @category.name
    %tr
      %td
        %strong Picture:
      %td.post_show_pic
        = image_tag @post.picture.url

.btn-group
  %a.btn.btn-success{href: category_path(@category)}
    %span.glyphicon.glyphicon-arrow-left
    Back to Its Category
  %a.btn.btn-warning{href: edit_post_path(@post)}
    %span.glyphicon.glyphicon-pencil
    Edit
